nav {
    background-color:#03d9d9; 
}

nav a {
    text-decoration: none;
    color:#d7d9d8;
    background-color:#03d9d9;
    padding: 5px 10px;
    display:inline-flex ;
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
    justify-content: right;
    align-items: flex-start;
}
nav ul {
    background-color:#03d9d9;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display:inline-flex; 
    color:#d7d9d8; /*coloco color a las letras*/
    justify-content:left; /* Distribuye el espacio entre los elementos de la lista */
    align-items:flex-start; /* Centra verticalmente los elementos de la lista */
}

header {
    background-color:#024059;
    padding: 20px;
    margin: 1%;
}
.header-container{
    display:inline-flex;
    align-items:flex-start;
    align-content: flex-start;
    background-color:#024059;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilo para la lista dentro de la clase "partners" */

/* Estilo para los elementos de la lista dentro de la clase "partners" */
.container {
    background-color:#03d9d9;
    display:inline-flex;
    justify-content:space-between;
    width: 40%;
    max-width: 40px;
    margin: 0 auto;
    color:#03d9d9;
    padding: top 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;  
}
   
.container-fluid{
    background-color: #024059;
    padding: auto;
    text-decoration-color:#d7d9d8;
    color:#d7d9d8;
}
.navbar-brand{
    background-color: #024059;
    color: #024059;
}

.logo img {
    justify-content: left;
    max-width: 100%;
    height: auto;
    background-color:#024059;
    color:#024059;
}
.logo-2{
    background-color: #03d9d9;
}
.main h2{
    color:#d7d9d8;
   
}
.main h3{
    color:#0396a7;
   /* text-align: center; /*agregado por fruski*/
    
}
footer {
    background-color:#03d9d9; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 2px 0; /* Agrega un relleno de 20px arriba y abajo, sin relleno a la izquierda y a la derecha */
}
.footer-links {
    color:#03d9d9;

}

.footer-links ul{
    list-style-type: disc;
    display: block;
    text-align: left;
    line-height: normal;
    
}

.logo-2, .footer-links ul, .direccion ul{
    display: inline-block;
    
    
    
}

.iconos li{
    display:inline-flex;
}

.logo-2 {
    width: 20%;
    margin: 10%;
}

.main h2 {
    color:#0396a7;
}
.bloque-central {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.mi-seccion {
    background-color:black;
    color:bisque;
    padding: 1px;
  }
  