nav {
    background-color:#0396a7; 
}
.navbar {
    padding: none;
} /*elimina las barras blancas arriba y abajo del menú*/

nav a {
    text-decoration: none;
    color:#d7d9d8;
    background-color:#0396a7;
    padding: 10px 15px;
    display:inline-flex ;
    font-family: 'Exo 2', sans-serif;
    font-weight:700; 
    font-size: 16px; 
    text-transform: uppercase; 
    justify-content: right;
    align-items: flex-start;
}
nav ul {
    background-color:#0396a7;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display:inline-flex; 
    color:#ffffff; /*coloco color a las letras*/
    justify-content:left; /* Distribuye el espacio entre los elementos de la lista */
    align-items:flex-start; /* Centra verticalmente los elementos de la lista */
}

header {
    background-color:#024059;
    padding: 20px;
    margin: 0;
}
.header-container{
    display:inline-flex;
    align-items:flex-start;
    align-content: flex-start;
    background-color:#024059;
    font-family:'Exo 2', sans-serif;
}

.container {
    background-color:#0396a7;
    display:inline-flex;
    justify-content:space-between;
    width: 50%;
    max-width: 50px;
    margin: 0 auto;
    color:#03d9d9;  
}
   
.container-fluid{
    background-color: #024059;
    padding: auto;
    text-decoration-color:#d7d9d8;
    color:#d7d9d8;
}
.navbar-brand{
    background-color: #024059;
    color: #024059;
}

.logo img {
    justify-content: left;
    max-width: 100%;
    height: auto;
    background-color:#024059;
    color:#024059;
}

/*logo de la empresa*/
.logo-2{
    background-color:#0396a7;
}
.main h2{
    color:#d7d9d8;
   
}
.equip{
    color:#0396a7;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.main h3{
    color:#0396a7;
   /* text-align: center; /*agregado por fruski*/
    
}


footer {
    background-color:#0396a7; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 0;  /*Agrega un relleno de 20px arriba y abajo, sin relleno a la izquierda y a la derecha */
}
.footer-links {
    color:#0396a7;

}

 /*menu de la empresa*/
.footer-links ul{
    list-style-type: disc;
    display: block;
    text-align:left;
    line-height: 1,5%; /*coloca un interlineado en el menu*/
    margin-left: -60%; /*centra el menu al lado del logo*/
    position: absolute;
    
}

/*datos sociales de la empresa*/
.social-icons ul{
    list-style-type:disc;
    text-align:left;
    display: block;
    line-height: 1,5%;
    margin-left: 70%;
    max-width: 60%;
    margin-top: -20%;
    position: absolute;
    
}

/*alineo las diferentes opciones del footer*/

.logo-2, .footer-links ul, .social-icons ul{
    display: inline-block;
       
    
}



/*alineo la opcion de redes sociales*/
.iconos ul {
    display:inline-flex; /*coloca en linea los inconos*/
    margin-left: 70%;
    max-width: 60%;
    margin-top: -10%;
    position:absolute;

}

/*le coloco un tamaño al logo*/
.logo-2 {
    width: 20%;
    margin: 10%;


}
.main h2 {
    color:#0396a7;
}
.bloque-central {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.mi-seccion {
    background-color:black;
    color:bisque;
    padding: 1px;
}

