nav {
    background-color:#0396a7; 
}
.navbar {
    padding: none;
} /*elimina las barras blancas arriba y abajo del menú*/


nav a {
    text-decoration: none;
    background-color:#0396a7;
    color:#d7d9d8;
    padding: 10px 15px;
    display:inline-flex ;
    font-weight: bold; 
    font-size: 16px; 
    text-transform: uppercase; 
    justify-content: right;
    align-items: flex-start;
}
nav ul {
    background-color:#0396a7;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display:inline-flex; 
    color:#d7d9d8; /*coloco color a las letras*/
    justify-content:left; /* Distribuye el espacio entre los elementos de la lista */
    align-items:flex-start; /* Centra verticalmente los elementos de la lista */
}

header {
    background-color:#024059;
    padding: 20px;
    margin: 0%;
}
.header-container{
    display:inline-flex;
    align-items:flex-start;
    align-content: flex-start;
    background-color:#024059;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilo para la lista dentro de la clase "partners" */


.container {
    background-color:#0396a7;
    display:inline-flex;
    justify-content:space-between;
    width: 50%;
    max-width: 50px;
    margin: 0 auto;
    color:#0396a7;  
}
   
.container-fluid{
    background-color:#024059;
    padding: auto;
    text-decoration-color:#d7d9d8;
    color:#d7d9d8;
}
.navbar-brand{
    background-color: #024059;
    color: #024059;
}

.logo img {
    justify-content: left;
    max-width: 100%;
    height: auto;
    background-color:#024059;
    color:#024059;
}
.logo-2{
    background-color:#0396a7;
}

footer {
    background-color:#0396a7; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 0; /* Agrega un relleno de 20px arriba y abajo, sin relleno a la izquierda y a la derecha */
}
.footer-links {
    color:#0396a7;

}

.footer-links ul{
    list-style-type: disc;
    display: block;
    text-align:left;
    line-height: 1,5%; /*coloca un interlineado en el menu*/
    margin-left: -60%; /*centra el menu al lado del logo*/
    position: absolute;
        
}
.social-icons ul{
    list-style-type:disc;
    text-align:left;
    display: block;
    line-height: 1,5%;
    margin-left: 70%;
    max-width: 60%;
    margin-top: -20%;
    position: absolute;
    
}

.logo-2, .footer-links ul, .direccion ul{
    display: inline-block;
}    
    
    

.iconos ul {
        display:inline-flex; /*coloca en linea los inconos*/
        margin-left: 70%;
        max-width: 60%;
        margin-top: -10%;
        position:absolute;
    
}
    
.iconos li{
    display:inline-flex;
}

.logo-2 {
    width: 20%;
    margin: 10%;
}

.main h2 {
    color:#0396a7;
}
.mi-seccion {
    background-color:black;
    color:bisque;
    padding: 1px;
}